<%- include("partials/header"); %>

  <div class="cover-image">
    <div class="text-overlay container text-center mt-5 d-flex justify-content-center align-items-center" style="height: 90vh;">
      <div class="overlay"></div>
      <div class="text-light">
        <h3>Selamat Datang di</h3>
        <h1 style="font-size: 64px; font-weight: bold;" >Desa Mekarjaya</h1>
        <h3>Kecamatan Pacet</h3>
        <h3>Kabupaten Bandung</h3>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="mt-5 text-center">Tentang Desa Mekarjaya</h2>
    <p class="mt-5">
      Desa Mekarjaya, yang terletak di Kecamatan Pacet, Kabupaten Bandung, Jawa Barat, merupakan sebuah desa yang memadukan keindahan alam pegunungan dengan kehidupan agraris yang khas. Mayoritas penduduknya bekerja di sektor pertanian, menanam padi, sayuran, dan buah-buahan, serta terlibat dalam peternakan dan industri rumah tangga. Tradisi dan budaya Sunda masih sangat kental terasa di desa ini, dengan kesenian tradisional seperti pencak silat, angklung, dan tari-tarian daerah yang kerap dipertunjukkan dalam berbagai acara adat dan perayaan. Selain itu, potensi pariwisata Desa Mekarjaya yang menawarkan pemandangan alam yang memukau menjadi daya tarik bagi wisatawan yang mencari ketenangan dan keindahan alam.
      
      Infrastruktur desa ini terus berkembang dengan adanya pembangunan jalan, fasilitas kesehatan, dan sarana umum lainnya yang diupayakan oleh pemerintah desa untuk meningkatkan kualitas hidup warga. Pendidikan juga menjadi fokus penting, dengan berbagai fasilitas pendidikan yang tersedia mulai dari taman kanak-kanak hingga sekolah menengah pertama, bertujuan untuk meningkatkan kualitas sumber daya manusia di daerah tersebut. Desa Mekarjaya juga dikenal dengan keramahan penduduknya yang selalu menyambut hangat para pengunjung dan wisatawan.
      
      Secara geografis, Desa Mekarjaya berada di daerah yang sejuk dan dikelilingi oleh pegunungan, memberikan suasana yang asri dan udara yang segar. Aktivitas sehari-hari penduduk yang sebagian besar adalah petani mencerminkan kehidupan desa yang tenang dan jauh dari hiruk-pikuk perkotaan. Upaya pelestarian lingkungan dan budaya lokal terus dilakukan untuk menjaga keaslian desa ini sebagai warisan yang berharga bagi generasi mendatang. Dengan segala potensinya, Desa Mekarjaya terus berbenah dan berkembang menjadi desa yang maju tanpa meninggalkan akar budaya dan tradisinya.
    </p>
    <br>
    <div class="card my-4">
      <div class="card-body">
          <h5 class="card-title">Musik Karatagan Desa Mekarjaya</h5>
          <audio controls class="w-100">
              <source src="/audio/karatagan-mekarjaya.mpeg" type="audio/mpeg">
              Browser Anda tidak mendukung elemen audio.
          </audio>
      </div>
  </div>
  
  </div>

<%- include("partials/footer"); %>
