<%- include("partials/header"); %>

<div class="container mt-5 pt-5">
  <h2 class="text-center">Sejarah Desa Mekarjaya</h2>
  <hr>
  <hr>
  <p class="mt-5">
    Desa mekarjaya pada awalnya merupakan pemekaran dari desa tenjonagara kecamatan pacet 
    pada tahun 1984. Hal ini disebabkan karena cakupan desa Tenjonagara yang sudah terlalu luas dan padat serta untuk memudahkan dalam pengaturan pemerintahan, ekonomi dan sebaginya. Maka berdasarkan surat keputusan Bupati. Maka Desa Tenjonagara dimekarkan menjadi 2 Desa, yaitu Desa Mekarjaya dan Desa Mekarsari. 
    Mekarjaya berasal dari dua suku kata “Mekar” dan “Jaya”, Mekar artinya berkembang, sedangkan Jaya artinya kekal, berarti desa Mekarjaya mengandung pengertian “Desa yang senantiasa berkembang  dan dinamis”. Dengan pengertian yang luas Desa Mekarjaya adalah Desa yang senantiasa mengikuti perkembangan jaman dan mengedepankan demokrasi yang dinamis bersama seluruh elemen masyarakat.
  </p>

  <div class="container mt-5">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr style="vertical-align: middle; text-align: center;">
          <th scope="col" style="width: 50px;">Tahun Baik</th>
          <th scope="col">Peristiwa</th>
          <th scope="col">Peristiwa Buruk</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1984</th>
          <td>Terpilihnya Bapak Umu Sebagai Kepala Desa</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">1993</th>
          <td></td>
          <td>Terjadinya longsor yang mengakibatkan rusaknya tanaman padi, palawija, dan saluran air</td>
        </tr>
        <tr>
          <th scope="row">1994</th>
          <td>Terpilihnya Bapak H. Rohman Sebagai Kepala Desa</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2003</th>
          <td></td>
          <td>Kebakaran yang mengakibatkan 80% Rumah di RW 05 hangus terbakar</td>
        </tr>
        <tr>
          <th scope="row">2002</th>
          <td>Terpilihnya Bapak H. Agus Lukman Hakim Sebagai Kepala Desa</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2013</th>
          <td>Terpilihnya Bapak Asep Saepul Hoer sebagai kepala Desa</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2019</th>
          <td>Terpilihnya Bapak Dindin Rusad Nurdin, S.Sos sebagai Kepala Desa	</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%- include("partials/footer"); %>
