<%- include("partials/header"); %>

<div class="container mt-5 pt-5">
  <h2 class="text-center">Wisata Desa Mekarjaya</h2>
  <hr>
  <hr>
  <h3 class="mt-5 pt-5">Wisata Alam Curug Roda</h3>
  <p>
    Curug Roda, yang terletak di Desa Mekarjaya, Kecamatan Pacen, Kabupaten Bandung, adalah salah satu destinasi wisata alam yang menawan dengan keindahan air terjunnya yang memukau. Dikelilingi oleh hutan yang rimbun dan pepohonan yang hijau, curug ini menawarkan suasana yang sejuk dan menenangkan, cocok untuk melepas penat dari hiruk-pikuk kehidupan perkotaan. Air yang jatuh dari ketinggian menciptakan suara gemericik yang harmonis, memberikan efek relaksasi bagi para pengunjung yang datang.
  </p>
  <p>
    Keindahan Curug Roda semakin lengkap dengan adanya bebatuan besar di sekitar aliran air terjun, yang menjadi tempat favorit bagi wisatawan untuk bersantai atau berfoto. Airnya yang jernih dan segar menggoda pengunjung untuk bermain air atau sekadar merendam kaki, menikmati kesegaran alam. Selain itu, keasrian dan kealamian kawasan ini tetap terjaga karena belum banyak tersentuh oleh pembangunan modern, menjadikannya tempat yang ideal bagi pencinta alam dan mereka yang mencari ketenangan.
  </p>
  <p>
    Akses menuju Curug Roda relatif mudah meskipun memerlukan sedikit usaha untuk menempuh perjalanan melalui jalan setapak yang dikelilingi pepohonan. Namun, semua usaha tersebut terbayar lunas ketika pengunjung tiba dan disambut oleh keindahan alam yang menakjubkan. Curug ini juga menjadi destinasi yang cocok untuk kegiatan wisata alam seperti hiking, piknik, atau sekadar menikmati pemandangan alam yang indah. Bagi masyarakat sekitar, Curug Roda bukan hanya sekadar objek wisata, tetapi juga simbol kekayaan alam yang harus dijaga kelestariannya.
  </p>
  <br><br>
  <div class="flex" style="width: 100%;">
    <img width="200px" src="/img/img1.jpeg" alt="image">
    <img width="200px" src="/img/img2.jpeg" alt="imag">
  </div>
</div>

<%- include("partials/footer"); %>